body{
  display: grid;
  justify-items: center;
  align-items: center;
}
.container{
  display: grid;
  width: 250px;
  height: 70vh;
  border: #282c34 2px solid;
  border-radius: 7px;
grid-template-rows: 15fr 1fr;
  grid-template-areas: 'messages-container' 'form' ;
}
.container-messages{
  grid-area: messages-container;
  display: grid;
  overflow: auto;
  grid-auto-flow: row;
}
.message{
  overflow: hidden;
  border: #616566 1px solid;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
}
.my-message{
  border: #61dafb 3px solid;
  justify-self: right;
}

.anonymous-message{
  border: #0eb705 3px solid;
  justify-self: left;
}
.form{
  grid-area: form;
}
.button{
  width: 75px;
  height: 32px;
  border-radius: 7px;
  background-color: rgba(15, 123, 245, 0.69);
  cursor: pointer;
}
.button:hover{
  background-color: rgba(0, 0, 100, 0.8);
  color: white;
}
.input{
  width: 200px;
  height: 33px;
border-radius: 3px;
}
.fa{
  color: red;
}
.spinner-grow{
  justify-self: center;
}
